<md-sidenav md-whiteframe="3" md-component-id="left">

  <md-toolbar layout="row" layout-align="center center">
    <img ng-src="{{ ::$ctrl.data.ngParty.logo.tiny }}" alt="ngParty logo">
    <b>ngBigParty II</b>
  </md-toolbar>
  <md-list>
    <md-list-item
      ng-repeat="(sectionKey,section) in ::$ctrl.data.sections"
      ng-click="$ctrl.toggleSidenav(section.id)"
    >
      {{ ::section.title }}
    </md-list-item>
  </md-list>

</md-sidenav>

<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

  <md-toolbar md-whiteframe="4" layout="row" layout-align-xs="space-between center" layout-align="center center">
    <md-button class="menu" ng-click="$ctrl.toggleSidenav()" aria-label="Show menu">
      <md-icon>menu</md-icon>
    </md-button>
    <h1>ngBigParty II</h1>
  </md-toolbar>

  <md-content>

    <section class="hero" id="home">
      <div class="hero__bg-container">
        <div class="hero__bg-container-overlay">
          <img
            class="img-responsive center-block"
            ng-src="{{ ::$ctrl.data.ngParty.logo.large }}"
            alt="ngParty logo"
          >
          <h2>{{ ::$ctrl.data.main.subtitle }}</h2>
          <p class="md-title">{{ ::$ctrl.data.main.date }}</p>
          <p>{{ ::$ctrl.data.main.quickAbout }}</p>
          <md-button
            ng-href="{{ ::$ctrl.data.main.getTicketLink }}"
            aria-label="{{ ::$ctrl.data.main.getTicketBtn }}"
            class="md-primary md-raised md-accent hero-btn"
          >
            {{ ::$ctrl.data.main.getTicketBtn }}
          </md-button>
        </div>
      </div>

    </section>

    <section
      id="{{ ::$ctrl.data.sections.whatToExpect.id }}"
      class="section"
    >
      <h3 class="md-display-1">{{ ::$ctrl.data.sections.whatToExpect.title }}</h3>
      <p
        ng-repeat="content in ::$ctrl.data.sections.whatToExpect.content"
      >
        {{::content}}
      </p>
    </section>

    <section
      id="{{ ::$ctrl.data.sections.speakers.id }}"
      class="section section--grey"
    >
      <np-speakers
        title="::$ctrl.data.sections.speakers.title"
        speakers="::$ctrl.data.sections.speakers.content"
      ></np-speakers>
    </section>

    <section
      id="{{ ::$ctrl.data.sections.program.id }}"
      class="section"
    >
      <np-program
        title="::$ctrl.data.sections.program.title"
        speakers="$ctrl.data.sections.speakers.content"
      ></np-program>
    </section>

    <section
      id="{{ ::$ctrl.data.sections.venue.id }}"
      class="section section--grey"
    >
      <h3 class="md-display-1">{{ ::$ctrl.data.sections.venue.title }} <md-icon>room</md-icon></h3>

      <np-map src="::$ctrl.data.sections.venue.map" layout="row" layout-align="center"></np-map>

    </section>

    <section
      id="{{ ::$ctrl.data.sections.sponsors.id }}"
      class="section">
      <h3 class="md-display-1">{{ ::$ctrl.data.sections.sponsors.title }}</h3>
      <p ng-repeat="content in ::$ctrl.data.sections.sponsors.content">
        {{ ::content }}
      </p>
      <div layout="column" layout-align="center center" class="sponsors">

        <figure ng-repeat="sponsor in ::$ctrl.data.sections.sponsors.companies">
          <a ng-href="{{ sponsor.web }}"><img ng-src="{{ ::sponsor.logo }}" alt="{{ ::sponsor.name }}"></a>
          <figcaption>{{ ::sponsor.description }}</figcaption>
        </figure>

      </div>
      <div layout-xs="column" layout="row" layout-wrap=""  layout-align="center">
        <p ng-repeat="footer in ::$ctrl.data.sections.sponsors.footer">
          {{ ::footer }}
        </p>
      </div>
    </section>

    <section
      id="{{ ::$ctrl.data.sections.codeOfConduct.id }}"
      class="section section--grey"
    >
      <h3 class="md-display-1">{{ ::$ctrl.data.sections.codeOfConduct.title }}</h3>
      <p ng-repeat="content in ::$ctrl.data.sections.codeOfConduct.content">
        {{ ::content }}
      </p>
      <p class="md-body-2">
        tl;dr: Don’t be a Jerk
      </p>
    </section>

    <footer class="section footer">

      <ul class="social" layout="row" layout-xs="column" layout-align="center">
        <li>
          <md-button ng-href="{{ ::$ctrl.data.ngParty.contact.email }}">get in touch</md-button>
        </li>
        <li>
          <md-button ng-href="{{ ::$ctrl.data.ngParty.links.social.github }}">github</md-button>
        </li>
        <li>
          <md-button ng-href="{{ ::$ctrl.data.ngParty.links.social.meetup }}">meetup.com</md-button>
        </li>
        <li>
          <md-button ng-href="{{ ::$ctrl.data.ngParty.links.social.twitter }}">twitter</md-button>
        </li>
        <li>
          <md-button ng-href="{{ ::$ctrl.data.ngParty.links.social.slack }}">slack</md-button>
        </li>
        <li>
          <md-button ng-href="{{ ::$ctrl.data.ngParty.links.social.google }}">g+</md-button>
        </li>
      </ul>

      <small>&copy; ngPartyCz 2016 made with love and ng-metadata</small>

    </footer>
  </md-content>

  <md-fab-speed-dial
    md-direction="{{ $ctrl.$mdMedia('xs') ? 'up' : 'down'}}"
    ng-class="{'md-fab-bottom-right':$ctrl.$mdMedia('xs'),'md-fab-top-right':$ctrl.$mdMedia('gt-xs')}"
    class="md-fling"
  >
    <md-fab-trigger>
      <md-button aria-label="share this event" class="md-fab md-accent">
        <md-icon>share</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button
        aria-label="Twitter"
        class="md-fab md-raised md-mini"
        ng-href="{{ ::$ctrl.social.twitter }}"
      >
        <md-icon md-svg-src="twitter" aria-label="Twitter"></md-icon>
      </md-button>
      <md-button
        aria-label="Facebook"
        class="md-fab md-raised md-mini fb-share-button"
        ng-href="{{ ::$ctrl.social.fb }}"
        ng-click="$ctrl.openShareEventWindow($ctrl.social.fb,$event)"
      >
        <md-icon md-svg-src="facebook" aria-label="Facebook"></md-icon>
      </md-button>
      <md-button
        aria-label="G+"
        class="md-fab md-raised md-mini"
        ng-href="{{ ::$ctrl.social.google }}"
        ng-click="$ctrl.openShareEventWindow($ctrl.social.google,$event)"
      >
        <md-icon md-svg-src="google_plus" aria-label="G+"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>


</div>
